@import '../../common/styles/shared';

.congrats__box {
  p,
  span {
    font-size: $font-size-16;
  }

  button {
    display: flex;
    align-items: center;

    span {
      margin-left: $spacing-8;
    }
  }

  .finish-actions {
    display: flex;
    width: 90%;
    justify-content: center;
    padding: $spacing-24;
    padding-bottom: 0;

    button {
      margin: $spacing-8;
    }

    @include sm {
      justify-content: center;
    }
  }
}
