h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-32;
  position: relative;
  display: inline-block;
  z-index: 2;
  margin-bottom: $spacing-24;
}

h1::after {
  content: '';
  display: block;
  background: $lily;
  width: 90%;
  height: $font-size-20;
  position: absolute;
  bottom: -(calc($spacing-8 / 4));
  right: -$spacing-8;
  z-index: -1;
}

h2 {
  font-size: $font-size-26;
  z-index: 2;
  margin-bottom: $spacing-16;
}

h3 {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: $spacing-16;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: $font-weight-medium;
  font-size: $font-size-16;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: $spacing-8;
}

p {
  margin-bottom: $spacing-16;
}

.action {
  &__link {
    color: $action-purple;
    text-decoration: underline;
  }
}
