$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-26: 1.625rem;
$font-size-32: 2rem;
$font-size-44: 2.75rem;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-32: 2rem;
$spacing-48: 3rem;

$dark-purple: #4b385f;
$action-purple: #7437b5;
$lily: #dcb9ff;
$beige: #fff9f1;
$dark-grey: #222;
