@import '../../common/styles/shared';

#collection-page {
  .study-set__card {
    &:hover {
      scale: 1.04;
    }
  }
  .study-set__card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    box-shadow: 0 0 $lily;
    transition: box-shadow 0.1s ease 0.1s;
  }

  .study-set__card:hover:after {
    box-shadow: $spacing-8 $spacing-8 $lily;
  }
}
